<ul class="nav nav-tabs">
    <li class="<%="active" if @active_tab == :welcome %>"><a href="<%= %>">Home</a></li>
    <li class="<%="active" if @active_tab == :about_us %>"><a href="<%= %>">About us</a></li>
    <li class="<%="active" if @active_tab == :applications %>"><a href="<%= %>">Contacts</a></li>


  </ul>
  